<% include partials/header %>
<div class="container-fluid map-container">
      <div id="map"></div>
      <%# Button Modal Trigger %>
      <button class='searchList btn btn-primary btn-lg' data-toggle = "modal" data-target = "#searchModal">New City</button>
      <h1 class='cityList hidden-xs'><%= cityName %></h1>
      <button class = "barList btn btn-primary btn-lg" data-toggle = "modal" data-target = "#myModal">
   Bar List
</button>

      <!--search Modal -->
      <div class="modal fade" id='searchModal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role='document'>
          <div class="modal-content">
            <div class="modal-header">

            </div>

            <div class="modal-body">
              <form class="" action="/bars" method="post">
                <input class='form-control'type="text" name="cityName" value="">
                <div class="text-center">
                  <button style='width: 50%;'class='btn btn-warning'type="submit" name="button">New Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Bars Around Here:</h4>
            </div>
            <div class="modal-body">
              <% for(var i = 0 ; i < 10; i++){ %>
                  <div class='well container-fluid'>
                    <div class='row'>
                      <div class='col-lg-2'>
                          <img class='img-fluid'src=<%=data.businesses[i].image_url%>>
                      </div>

                      <div class='col-lg-10'>
                        <div class='row'>
                          <div class='col-lg-5'>
                           <h4 >
                            <a href=<%= data.businesses[i].url %>><%= data.businesses[i].name %></a>
                           </h4>
                          </div>

                          <div class='col-lg-4 col-lg-offset-3'>

                            <button class='btn btn-primary disabled'><%= data.businesses[i].whosGoing.length %> Going</button>
                            <% if(currentUser && data.businesses[i].whosGoing.indexOf(currentUser.id) === -1){ %>
                              <form style='width:100%;' method='post' action='/bars/user/<%= data.businesses[i].location.city %>/<%= data.businesses[i].id %>' >
                                <button class='btn btn-info'type='submit'>Want To Go?</button>
                              </form>
                            <%  } else if (currentUser){  %>
                              <form style='width:100%;' method='post' action='/bars/user/<%= data.businesses[i].location.city %>/<%= data.businesses[i].id %>?_method=DELETE' >
                                <button class='btn btn-danger'type='submit'>Cancel</button>
                              </form>
                            <%  } %>
                          </div>
                        </div>
                        <div>
                        <p style=''>"<%= data.businesses[i].snippet_text %>"</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <%}  %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>




    <script>

      var data = <%- JSON.stringify(data) %>;
      function initMap() {
        var labels = ['A', 'B', 'C', 'D' , 'E', 'F', 'G', 'H', 'I', 'J'];

        var infowindow = new google.maps.InfoWindow();
        var loc = [];

        for(var i = 0 ; i < 10; i ++){
          loc.push(
            [data.businesses[i].location.coordinate.latitude, data.businesses[i].location.coordinate.longitude, data.businesses[i].name, labels[i]]
          );
        }

        var locations = loc;

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: <%= data.region.center.latitude %>, lng: <%= data.region.center.longitude %>}
        });


        // Create an array of alphabetical characters used to label the markers.
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        // var markers = locations.map(function(location, i) {
        //   return new google.maps.Marker({
        //     position: location,
        //     label: labels[i % labels.length]
        //   });
        // });

        // Add a marker clusterer to manage the markers.
        // var markerCluster = new MarkerClusterer(map, markers,
        //     {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'}
        //   );
        function placeMarker( loc ) {
  var latLng = new google.maps.LatLng( loc[0], loc[1]);
  var marker = new google.maps.Marker({
    position : latLng,
    map      : map,
    label    : loc[3]
  });
  google.maps.event.addListener(marker, 'click', function(){
      infowindow.close(); // Close previously opened infowindow
      infowindow.setContent( "<div id='infowindow'>"+ loc[2] +"</div>");
      infowindow.open(map, marker);
  });
}

// ITERATE ALL LOCATIONS
// Don't create functions inside for loops
// therefore refer to a previously created function
// and pass your iterating location as argument value:
for(var i=0; i<locations.length; i++) {
  placeMarker( locations[i] );
}

google.maps.event.addDomListener(window, 'load', initMap);


      }





    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= googleKey %>&callback=initMap">
    </script>

  </body>
</html>
